.globalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    background: rgba(238, 238, 238, 0.103);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.spinnerContainer {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}
