.confirmDialog {
  max-width: 305px !important;
  margin: 20vh auto auto auto !important;
  z-index: 1500 !important;
}

.confirmDialogLarge {
  max-width: 345px !important;
  margin: 20vh auto auto auto !important;
}

.zaloConfirmDialog {
  max-width: 305px !important;
  margin: 40vh auto auto auto !important;
}

.confirmModalBackdrop {
  z-index: 1055 !important;
}

.confirmDialogImage {
  width: 100% !important;
  max-width: 405px !important;
  padding: 0 30px;
}

.mobile {
  margin: auto !important;
}

.desktop {
  margin: 20vh auto auto auto !important;
}

.imageCashConfirm {
  max-width: 200px !important;
  margin: 20px;
}

.modal-fullscreen {
  height: auto !important;
}
